extends layout

block content
    form
      | Lead Ticker:
      br
      input(id="textLead", type='text', name='Lead')
      br
      | Bass Ticker:
      br
      input(id="textBass", type='text', name='Bass')
      br
      | Drums Ticker:
      br
      input(id="textDrums", type='text', name='Drums')

    button(onclick='myFunction()') Click me
    script(src='/javascripts/jquery-min.js')
    script().
      function myFunction() {
      var wordLead = $("#textLead").val();
      var wordBass = $("#textBass").val();
      var wordDrums = $("#textDrums").val();
      alert(wordLead +" "+ wordBass +" "+wordDrums);
      }

block results
    p
    | Lead Ticker is : #{wordLead}
