extends layout



block content
    form
      | Lead Ticker:
      br
      input(type='text', name='Lead')
      br
      | Bass Ticker:
      br
      input(type='text', name='Bass')
      br
      | Drums Ticker:
      br
      input(id="text", type='text', name='Drums')

    button(onclick='myFunction()') Click me
    script(src='/javascripts/jquery-min.js')
    script().
      function myFunction() {
      var word = $("#text").val();
      alert(word);
      }

    script(src='/javascripts/hisoricalDataRequest.js')
