extends layout



block content

    form
      br
      br

      | Lead Ticker: 
      
      input(id="textLead", type='text', name='Lead', style = 'margin-left:20px')
      br
      br
      | Bass Ticker: 
      
      input(id="textBass", type='text', name='Bass',style = 'margin-left:25px')
      br
      br
      | Drums Ticker: 
      
      input(id="textDrums", type='text', name='Drums',style='margin-left:5px')
      br
      br
    button.fill(style = 'margin-top: 40px',onclick='myFunction()') Generate Music
    script(src='/javascripts/jquery-min.js')
    script().
      function myFunction() {
      var wordLead = $("#textLead").val();
      var wordBass = $("#textBass").val();
      var wordDrums = $("#textDrums").val();
      alert(wordLead +" "+ wordBass +" "+wordDrums);
      }



    footer
      p
        |Make Music From Your Favorite Stocks


block results
    p
    | Lead Ticker is : #{wordLead}

