doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
<<<<<<< HEAD
   header
     h1 Do you have any Change?
   p
    block content
=======
    block results
    block content
>>>>>>> 263452a015119f3836c9af16f9a43e7d7dbdea19
