doctype
html
  head
    title #{title} - Market Ambience
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Market Ambience
    .container
      .main-content
        block content
        form(method="GET", action="http://www.illinois.edu")
         input(type="hidden", name="_method", value="GET")
         p Lead:
          input(type="text", name="Lead")
         p Bass:
          input(type="text", name="Bass")
         p Drums:
          input(type="text", name="Drums")
         p
          input(type="submit")

        html
          audio(preload="auto", controls)
            source(src="/soundTest.mp3")

    footer
      .container
        .main-content
          block content
